:root{
  --main-color:teal;
--hover-color: green;
--text-color:white;
}

.nav-list{
  font-size: 0;
}
.nav-lisr-item{
display: inline-block;
background-color: var(--main-color);
color: var(--text-color);
font-style:initial;
}

.nav-list-link{
  display: inline-block;
  padding: 1em;
}