*{
  box-sizing: border-box;
}
body{
  height: 300vh;
  margin: 0;
}
main{
  padding: 5em;
}
ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
a{
  color: inherit;
  text-decoration: none;
}
.page-header{
  position: fixed;
  left: 0;
  right: 0;
  z-index: 999;
  background-color:#C6FFDD;
  box-shadow: 0 0 10px 2px #aad8bc;

}
.list{
  text-align: center;
}
.list-item{
  display: inline-block;
  padding-top: 8px;
  padding-bottom: 8px;
}
.list-link{
  display: block;
  padding: 1em 2em;
  background-color: #A1FFCED1;
}
.list-link:hover{
  background-color:#71B280;
}